.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

h2, p, label {
  text-align: left;
}

label {
  float: left;
  font-weight: normal;
}

.container {
  margin-left: 0px;
  padding-left: 0px;
}
